*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

#navbar{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    position: fixed;
    margin-left: 7%;
    background: rgba(255, 255, 255, 0.9);
}

#navtitle{
    font-weight: bolder;
    font-size: 25px;
    color: #0059cd;
    padding-right: 18%;
}


li{
    display: inline-block;
    font-weight: bolder;
    margin-right: 55px;
}

.navlink{
    font-size: 17px;
    color: rgb(145, 158, 167);
    text-decoration: none;
}

#button{
    padding-left: 25px;
    padding-right: 25px;
}


.vaccine1img{
    object-fit: cover;
    float:right;
    width: 650px;
    height: 900px;
}

.intro{
    margin-top: 14%;
    margin-left: 9%;
}

.maintitle{
    color: #023374;
    font-weight: bolder;
    font-size: 60px;
}

.maintext{
    color: rgb(145, 158, 167);
    font-weight: bolder;
}

.texticon{
    text-decoration: none;
    padding-left: 15px;
    color:#023374;
    font-weight: bold;
}

.rowintro {
    width: 100%;
    text-align: left; 
  }
  
.rowitems {
    padding-right: 25px;
    display: inline-block; 
  }

.fa-shield-blank, .fa-star{
    color: yellow;
  }
  
.fa-clock{
      padding-top: 180px;
      color: #0059cd;
  }

.textclock{
    text-decoration: none;
    padding-left: 15px;
    color:#023374;
    font-size: 22px;
    font-weight: bold;
  }

.card-group{
      border: none;
      background: rgba(255, 255, 255, 0.85);
      margin-left: 12%;
      width: 65%;
      position: absolute;
      border-radius: 100%;
      display: grid;    
  }

.titlecard{
    text-decoration: none;
    padding-left: 15px;
    color: rgb(145, 158, 167);
    font-weight: bold;
  }

.card-text{
      color: #023374;
      font-weight: bold;
      padding-left: 28px;
  }

.fa-location-dot, .fa-syringe, .fa-calendar-days{
    color: #0059cd;
}

.card{
    border: none;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
}

#buttoncard{
    background-color: #023374;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 7px;
    margin-left: 15px;
}

.logos{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 160px;
}

.logo{
    margin-right: 50px;
    display: inline-block; 
}

.why{
    margin-left: 9%;
}

.whytitle{
    color: #023374;
    font-weight: bolder;
    font-size: 40px;
}

.whytext{
    color: rgb(145, 158, 167);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 50px;
}

.reasons{
    margin-left: 12%;
}

.cardr{
    border: 1px;
    float: left;
    padding: 0px;
    margin-right: 25px;
    display: grid;
}

.card-titler{
    padding-top: 20px;
    padding-bottom: 7px;
    text-decoration: none;
    font-weight: 600;
    color: #023374;
  }

.card-textr{
      color: rgb(145, 158, 167);
      font-weight: bold;
      font-size: 14px;
  }

  .fa-viruses{
    color: #023374;
    margin-left: 10px;
  }
  .fa-shield{
    color: #023374;
    margin-left: 10px;
  }
  .fa-users{
    color: #023374;
    margin-left: 10px;
  }
  .fa-arrow-trend-up{
    color: #023374;
    margin-left: 10px;
  }

  .preparations{
      float:right;
      padding-top: 10%;
      padding-right: 7%;
  }





